In [1]:
import pandas as ps
from urllib.request import urlopen
import requests

In [2]:
url = "https://raw.githubusercontent.com/micybusy/sketch/main/charts.csv"
with urlopen(url) as f:
    content = ps.read_csv(url, encoding = "utf-8")

content

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18
...,...,...,...,...,...,...,...
330082,1958-08-04,96,Over And Over,Thurston Harris,NaN,96,1
330083,1958-08-04,97,I Believe In You,Robert & Johnny,NaN,97,1
330084,1958-08-04,98,Little Serenade,The Ames Brothers,NaN,98,1
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,NaN,99,1
330086,1958-08-04,100,Judy,Frankie Vaughan,NaN,100,1

In [3]:
entries_by_year = {}
dummy_list = []
a = 2022
for i in range(0,len(content), 5200):
    dummy_list.append(content[i:i+5200])
    entries_by_year.update({a:dummy_list})
    a = a-1
    dummy_list = []

In [4]:
def getYear(a):
    return entries_by_year[a][0]

In [5]:
def groupby_artist(a):
    perm = getYear(a)
    out =ps.DataFrame(perm.groupby(["artist", "song"]).size().reset_index().rename(columns={0:'count'}))
    out = out.sort_values("count", ascending = False)
    return out

In [6]:
groupby_artist(2019)

                                artist                        song  count
47   Bebe Rexha & Florida Georgia Line                 Meant To Be     50
167                         Ed Sheeran                     Perfect     47
662          Zedd, Maren Morris & Grey                  The Middle     40
335                               Lauv            I Like Me Better     38
315                   Khalid & Normani                   Love Lies     37
..                                 ...                         ...    ...
280                    KIDS SEE GHOSTS             KIDS SEE GHOSTS      1
279                    KIDS SEE GHOSTS  Freeee (Ghost Town, Pt. 2)      1
278                    KIDS SEE GHOSTS                        Fire      1
522                            Pusha T        If You Know You Know      1
249      J. Cole Featuring kiLL edward                 The Cut Off      1

[669 rows x 3 columns]

In [7]:
ps.set_option("display.max_rows", 170)

## 2022 iÃ§in
* 10 listelemede 2 doÄŸru
* 20 listelemede 3 doÄŸru
* 30 listelemede 5 doÄŸru var. toplamda 10 aday var. %50

## 2021 iÃ§in
* 10 listelemede 2 doÄŸru
* 20 listelemede 4 doÄŸru
* 30 listelemede 6 doÄŸru var. toplamda 8 aday var. %75

## 2020 iÃ§in
* 10 listelemede 2 doÄŸru
* 20 listelemede 5 doÄŸru
* 30 listelemede 5 doÄŸru var. toplamda 8 aday var. %62,5

## 2019 iÃ§in
* 10 listelemede 1 doÄŸru
* 20 listelemede 3 doÄŸru
* 30 listelemede 3 doÄŸru var. toplamda 8 aday var. %37,5

## 2018 iÃ§in
* 10 listelemede 3 doÄŸru
* 20 listelemede 4 doÄŸru
* 30 listelemede 4 doÄŸru var. toplamda 5 aday var. %80

In [8]:
url = "https://raw.githubusercontent.com/micybusy/sketch/main/the_grammy_awards.csv"
with urlopen(url) as f:
    content_grammy = ps.read_csv(url, encoding = "utf-8")

content_grammy = content_grammy.drop(columns = ["title", "published_at", "updated_at", "workers", "img", "winner"])
content_grammy.rename(columns = {'nominee':'song'}, inplace = True)
content_grammy

,year,category,song,artist
0,2019,Record Of The Year,Bad Guy,Billie Eilish
1,2019,Record Of The Year,"Hey, Ma",Bon Iver
2,2019,Record Of The Year,7 rings,Ariana Grande
3,2019,Record Of The Year,Hard Place,H.E.R.
4,2019,Record Of The Year,Talk,Khalid
...,...,...,...,...
4805,1958,Best Classical Performance - Instrumentalist (...,Tchaikovsky: Piano Concerto No. 1 In B Flat Mi...,NaN
4806,1958,Best Classical Performance - Instrumentalist (...,Segovia Golden Jubilee,NaN
4807,1958,Best Classical Performance - Chamber Music (In...,Beethoven: Quartet 130,NaN
4808,1958,Best Classical Performance - Vocal Soloist (Wi...,Operatic Recital,NaN
4809,1958,Best Classical Performance - Operatic Or Choral,Virtuoso,NaN

In [9]:
def get_nominees(y, c):
    y = str(y)
    c = str(c)
    dummy = content_grammy[content_grammy["year"].astype("str").str.contains(y)]
    return dummy[dummy["category"].astype("str").str.contains(c)]

In [10]:
def matcher(year):
    counts = groupby_artist(year)
    nominees = get_nominees(year, "Record Of The Year")
    out = nominees.merge(counts, on = ["song"] )
    return out

In [11]:
matcher(2019)

Empty DataFrame
Columns: [year, category, song, artist_x, artist_y, count]
Index: []

In [16]:
get_nominees(2017, "Record Of The Year")

     year            category       song      artist
519  2017  Record Of The Year  24K Magic  Bruno Mars